In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.60.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from yfinance) (2.25.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp36-cp36m-win_amd64.whl (3.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\envs\pythonadv\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.60-py2.py3-none-any.whl size=23810 sha256=eb565016c5c1fae152ae8912cb2443542eccf4b34ef2f2dc30602b6e7c324c13
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\00\82\08\6533d73a6ab802736648e94200976582cc6efd5854b1db6565
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=113d696f35bc83501dd6990e4e01998128ff384690190762af50ece8bd6f66e6
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\5e\8a\c4\59c699498647c7c94b14c87a904ca7540646107b3d94b7c320
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.3 multitasking-0.0.9 yfinance-0.1.60

In [16]:
import yfinance as yf

msft = yf.Ticker("TSLA")
print(msft)

yfinance.Ticker object <TSLA>

In [17]:
df = msft.history(start="2016-07-06", end="2021-07-06")

In [18]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-07-06,42.000000,43.046001,41.799999,42.888000,24599500,0,0.0
2016-07-07,42.619999,43.624001,42.602001,43.188000,18060000,0,0.0
2016-07-08,43.560001,43.962002,42.900002,43.355999,20374000,0,0.0
2016-07-11,43.992001,45.355999,43.902000,44.956001,27149000,0,0.0
2016-07-12,44.820000,45.500000,44.644001,44.930000,22856500,0,0.0
...,...,...,...,...,...,...,...
2021-06-28,671.640015,694.700012,670.320007,688.719971,21628200,0,0.0
2021-06-29,684.650024,687.510010,675.890015,680.760010,17381300,0,0.0
2021-06-30,679.770020,692.809998,678.140015,679.700012,18924900,0,0.0
2021-07-01,683.919983,687.989990,672.799988,677.919983,18634500,0,0.0
2021-07-02,678.979980,700.000000,673.260010,678.900024,27054500,0,0.0